/home/vegapunk/.config/zsh/plugins/conda-zsh-completion
/home/vegapunk/.config/zsh/plugins/zsh-autopair
/home/vegapunk/.config/zsh/plugins/zsh-autosuggestions
/home/vegapunk/.config/zsh/plugins/zsh-syntax-highlighting
/home/vegapunk/.config/zsh/plugins/zsh-vi-mode
